<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="container mx-2">
  <div class="container has-text-centered">
    <p class="mb-3 has-text-centered">
      Hi
      <span class="has-text-weight-bold is-capitalized">{{ username }}</span> -
      When do you want to train?
    </p>

    <div class="level has-text-centered">
      <div class="checkbox mx-2" *ngFor="let day of thisweek">
        <input
          type="checkbox"
          class="checkbox"
          id="{{ day }}"
          [value]="day"
          name="{{ day }}"
          ngModel
        />
        <label class="checkbox ml-1" for="{{ day }}">{{
          day | date: "E"
        }}</label>
      </div>
    </div>
    <button
      [disabled]="!f.valid"
      class="button is-primary is-outlined is-small"
      type="submit"
    >
      register
    </button>
  </div>
</form> -->

<app-alert
  [message]="error"
  *ngIf="error"
  (closed)="onHandleError()"
></app-alert>

<div>
  <div class="container has-text-centered">
    <p class="mb-3 has-text-centered">
      Hi
      <span class="has-text-weight-bold is-capitalized">{{ username }}</span>
    </p>
    <p>Click the Day to register</p>
    <p class="mb-2">Click your Name to unregister</p>
  </div>
  <hr />
  <div class="level is-mobile">
    <div class="level-item">
      <span class="icon">
        <i
          style="cursor: pointer;"
          [routerLink]="['/course', dateParam - 1]"
          routerLinkActive="router-link-active"
          class="fas fa-2x fa-angle-left is-pulled-left"
        ></i>
      </span>
    </div>
    <div class="level-item has-text-centered">
      <h3 class="is-size-4">Our Schedule:</h3>
    </div>
    <div class="level-item">
      <span class="icon">
        <i
          style="cursor: pointer;"
          [routerLink]="['/course', dateParam + 1]"
          routerLinkActive="router-link-active"
          class="fas fa-2x fa-angle-right is-pulled-right"
        ></i>
      </span>

      <!-- <fa-icon
        style="cursor: pointer;"
        [routerLink]="['/course', dateParam + 1]"
        routerLinkActive="router-link-active"
        class="fa-2x is-pulled-right"
        [icon]="faAngleRight"
      >
      </fa-icon> -->
    </div>
  </div>

  <p *ngIf="isFetching">loading...</p>

  <table
    *ngIf="!isFetching"
    class="table is-striped is-narrow is-hoverable is-fullwidth"
  >
    <thead>
      <tr>
        <th>#</th>
        <th
          *ngFor="let day of thisweek"
          (click)="register(day)"
          style="cursor: pointer;"
        >
          {{ day | date: "E" }} <br />{{ day | date: "d.M" }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- <ng-container *ngFor="let course of weeksCourses" > -->
      <!-- <ng-container *ngFor="let person of course.attende; let i = index">  -->
      <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]">
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td
            style="cursor: pointer;"
            (click)="onDelete(course, course.attende[i])"
            *ngFor="let course of weeksCourses"
          >
            {{
              course.attende && course.attende.length > i
                ? course.attende[i]
                : ""
            }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
